{:paths ["src/clj/"]
 :deps {org.clojure/clojure {:mvn/version "1.11.2"}
        failjure/failjure {:mvn/version "2.3.0"}
        pathetic/pathetic {:mvn/version "0.5.1"}}
 :aliases {:repl
           {:extra-paths ["test/clj"]
            :extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
            :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color"]}

           :test
           {:main-opts ["-m" "kaocha.runner"]
            :extra-paths ["test/clj"]
            :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                         lambdaisland/kaocha {:mvn/version "1.87.1366"}
                         orchestra/orchestra {:mvn/version "2021.01.01-1"}}}

           :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
                   :exec-fn codox.main/generate-docs
                   :exec-args {:source-paths ["src/clj"]}}}}
